/* Based on https://github.com/catppuccin/waybar */
@import "mocha.css";

* {
	font-family: FantasqueSansMono Nerd Font;
	font-size: 16px;
	font-weight: bold;
	min-height: 0;
}

#waybar {
	background: @transparent;
	color: @text;
}

#disk.root,
#disk.home,
#cpu,
#temperature,
#custom-gpu_avg_use,
#custom-gpu_temp,
#memory,
#network.upload, 
#network.download {
	background: @surface0;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

#disk.root {
	color: @blue;
	border-radius: 0;
	padding-left: 1rem;
	padding-right: 0.5rem;
}

#disk.home {
	color: @sapphire;
	border-radius: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#cpu {
	color: @sky;
	border-radius: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#temperature {
	color: @teal;
	border-radius: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#custom-gpu_avg_use {
	color: @green;
	border-radius: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#custom-gpu_temp {
	color: @yellow;
	border-radius: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#memory {
	color: @peach;
	border-radius: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#network.upload {
	color: @maroon;
	border-radius: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#network.download {
	color: @red;
	border-radius: 0px 1rem 1rem 0px;
	padding-left: 0.5rem;
	padding-right: 1rem;
}

#clock.date,
#clock.time {
	color: @lavender;
	background: @surface0;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

#clock.date {
	border-radius: 1rem 0px 0px 1rem;
	padding-left: 1rem;
	padding-right: 0.5rem;
}

#clock.time {
	border-radius: 0px 1rem 1rem 0px;
	padding-left: 0.5rem;
	padding-right: 1rem;
}

#privacy {
	color: @red;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#tray {
	background: @surface0;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: @text;
	border-radius: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-right: 10px;
}

#pulseaudio,
#bluetooth,
#custom-ddcutil,
#custom-notification,
#custom-clipboard,
#custom-printscreen,
#custom-power {
	background: @surface0;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

#pulseaudio {
	color: @sky;
	border-radius: 1rem 0px 0px 1rem;
	padding-left: 1rem;
	padding-right: 0.5rem;
}

#bluetooth {
	color: @teal;
	border-radius: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#custom-ddcutil {
	color: @green;
	border-radius: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#custom-notification {
	color: @yellow;
	border-radius: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#custom-clipboard {
	color: @peach;
	border-radius: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#custom-printscreen {
	color: @maroon;
	border-radius: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#custom-power {
	color: @red;
	border-radius: 0;
	padding-left: 0.5rem;
	padding-right: 1rem;
}
